{% extends "manager/base.html" %}

{% block title %}
Modules
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Modules</h1>
</div>

{% if saved %}
<div class="alert alert-success" role="alert">
    Modules saved. Please restart the bot via the Dashboard for this to take effect.
</div>
{% endif %}

<p>Enable/disable modules in use for this bot.<br /><b>Note:</b> if new modules are added to the bot and you unchecked "Enable all", they will be disabled by default.</p>

<form id="modules" method="post" action="/manage/{{ bot_id }}/modules/update">
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="all_enabled" name="all_enabled" value="" {% if all_enabled %}checked{% endif %}>
            <label class="form-check-label" for="all_enabled">
            Enable all
            </label>
        </div>

        {% for module, state in modules.items() %}
        <div class="form-check mt-1">
            <input class="form-check-input" type="checkbox" value="" name="{{ module }}" {% if state %}checked{%endif%} {% if all_enabled %}disabled{%endif%}>
            <label class="form-check-label" for="{{ module }}">
            {{ module }}
            </label>
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </div>
</form>

{% endblock %}

{% block scripts %}
<script src="/static/manager/modules.js"></script>
{% endblock %}