{% extends "manager/base.html" %}

{% block title %}
Trusted Devices
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Trusted Devices</h1>
</div>

{% if saved %}
<div class="alert alert-success" role="alert">
    Trusted devices saved. Please restart the bot via the Dashboard for this to take effect.
</div>
{% endif %}

<p>Trust specific devices in an encrypted room.<br/><b>Note:</b> any new users will have to be manually trusted if you untick "Trust all".</p>

<form id="trust" method="post" action="/manage/{{ bot_id }}/trust/update">
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="trust_all" name="trust_all" value="" {% if trust_state == None %}checked{% endif %}>
            <label class="form-check-label" for="trust_all">
            Trust all
            </label>
        </div>

        {% for user, devices in user_with_devices.items() %}
        <div class="user">
            <div class="form-check ml-2 mt-1">
                <input class="form-check-input user-checkbox" type="checkbox" value="" name="trust_all_{{ user }}" {% if trust_state == None %}disabled checked{%endif%} {% if trust_state != None and user in trust_state and trust_state[user] == None %}checked{% endif %}>
                <label class="form-check-label" for="trust_all_{{ user }}">
                {{ user }}
                </label>
            </div>

            <div class="device">
                {% for device in devices %}
                <div class="form-check ml-4 mt-1">
                    <input class="form-check-input device-checkbox" type="checkbox" value="" name="{{ user }}[{{ device }}]" {% if trust_state == None or (user in trust_state and trust_state[user] == None) %}disabled checked{%endif%} {% if trust_state != None and user in trust_state and trust_state[user] != None and device in trust_state[user] %}checked{% endif %}>
                    <label class="form-check-label" for="{{ device }}">
                    {{ device }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </div>
</form>

{% endblock %}


{% block scripts %}
<script src="/static/manager/trust.js"></script>
{% endblock %}