{% extends "manager/base.html" %}

{% block title %}
Trusted Devices
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Trusted Devices</h1>
</div>

{% if saved %}
<div class="alert alert-success" role="alert">
    Modules saved. Please restart the bot via the Dashboard for this to take effect.
</div>
{% endif %}

<form id="modules" method="post" action="/manage/{{ bot_id }}/modules/update">
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="trust_all" name="trust_all" value="" {% if trust_all %}checked{% endif %}>
            <label class="form-check-label" for="trust_all">
            Trust all
            </label>
        </div>

        {% for user, devices in user_with_devices.items() %}
            <div class="form-check ml-2 mt-1">
                <input class="form-check-input" type="checkbox" value="" name="trust_all_{{ user }}" {% if trust_all %}disabled{%endif%}>
                <label class="form-check-label" for="{{ module }}">
                {{ user }}
                </label>
            </div>

            {% for device in devices %}
            <div class="form-check ml-4 mt-1">
                <input class="form-check-input" type="checkbox" value="" name="{{ device }}" {% if trust_all %}disabled{%endif%}>
                <label class="form-check-label" for="{{ device }}">
                {{ device }}
                </label>
            </div>
            {% endfor %}
        {% endfor %}

        <button type="submit" class="btn btn-primary mt-2">Save</button>
    </div>
</form>

{% endblock %}


{% block scripts %}
<script src="/static/manager/trust.js"></script>
{% endblock %}