
html, body {
  font-size: .875rem;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.navbar-nav {
  height: 100%;
  flex-direction: row;
}

.navbar-nav .nav-item {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
}

#test-output {
  width: 100%;
  background: rgba(52, 58, 64, 1);
  height: 100%;
  top: 41px;
  /* position: fixed; */
  height: 25vh;
  z-index: 50;
  padding: 20px;
  overflow-y: scroll;
  display: none;
}

#test-output .robot {
  background: url(/static/robot.jpg);
  background-size: cover;
  content: " ";
  display: block;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  flex: 0 0 auto;
}

#test-output .wrapper {
  margin-left: 20px;
  margin-top: 5px;
}

#test-output .name {
  font-size: 16px;
  padding-left: 5px;
  color: cyan;
}

#test-output .line { 
  padding: 5px;
  color: white;
  font-size: 16px;
}

.line-image img {
  width: 50%;
}

#test-output.test-visible {
  display: flex;
}

#test-output.test-visible + #editor {
  height: 70vh;
}

#test-close {
  color: white;
  position: absolute;
  right: 30px;
  cursor: pointer;
}

#test-close .feather {
  width: 30px;
  height: 30px;
}

.line-html pre {
  color: white;
  background: gray;
  padding: 15px;
}

/*
 * Editor
 */

#editor, #editor-ace, .ace_editor {
  width: 100%;
  height: 100%;
  font-size: 24px;
}

.ace_editor {
  margin-bottom: 0;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.flex-1 {
  flex: 1;
}

.h-100 {
  height: 100%;
}

.p-0 {
  padding: 0px;
}

@-moz-document url-prefix() {
  .moz-mt-5 {
    margin-top: 3rem !important;
  }
}